//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 600;
	line-height: 120%;
	display: inline-block;
	padding: 14px 49px;
	width: 265px;
	border: 1px solid #303030;
	color: #303030;
	border-radius: 40px;
	transition: all 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			background-color: #1F1F1F;
			color: #fff;
		}
	}

	&_black {
		background-color: #060606;
		color: #fff;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				border: 1px solid #303030;
				color: #303030;
				background-color: rgba(46, 49, 51, 0);
			}
	}

	&--fw {
		width: 100%;}
	}
}
