// Заголовки, загальні БЕМ блоки та інше...

/*=====Бегущая строка=======*/
.section {

  &__ticker {
    gap: 12px;
    width: 100%;
    display: flex;
    padding: 18px;
    position: relative;
    max-width: 2335px;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    background-color: #f54932;
  }
}
